@tailwind base;
@tailwind components;
@tailwind utilities;

.button {
	@apply text-accent block m-2 py-2 px-6 border-2 border-accent text-center font-bold transition duration-200 hover:text-background hover:bg-accent cursor-pointer rounded-lg;
}

.setting {
	@apply cursor-pointer font-bold bg-primary inline px-4 py-1 rounded-lg transition duration-200 hover:bg-accent opacity-60 hover:opacity-100 my-2;
}

.setting.on {
	@apply bg-accent;
}

progress {
  -webkit-appearance: none;
	width: 100%;
}

::-webkit-progress-value {
  background-color: #6CD4FF;
}

::-webkit-progress-bar {
  background-color: #273043;
}

.inverted::-webkit-progress-bar {
  background-color: #171C27;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
	height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #171C27;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #273043;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #6CD4FF;
}